.RollDice{ 
    display: flex;
    flex-flow: column;
    text-align: center;
    min-height: 100vh;
    align-items: center;
}

.RollDice .dice {
    display: flex;
    justify-content: center;
}
.RollDice button {
    width: 15em;
    padding: 1.5em;
    border: 0px;
    color: white;
    background-color: black;
    margin-top: 3em;
}
.RollDice button:hover {
    background-color: darkslateblue;
    cursor: pointer;
}

.RollDice button:disabled {
    background-color: grey;
    opacity: 75%;
    cursor:default;
}


@keyframes wobble {
    33% {
      transform: rotate(5deg);
    }
    66% {
      transform: rotate(-5deg);
}